body {
    font-family: Arial;
}

ul {
    font-family: helvetica;
}

:root {
    --green: #00FF00;
    --white: #FFFFFF;
    --black: #000000;
}
.dark-theme {
    background-color: #000000;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

.top {
    position: absolute;
    width: 1877px;
    height: 118.5px;
    left: 21px;
    top: 21.5px;
    font-family: Arial;
    background-color: #FFFFFF;
}

/* facicon */

.mark-icon {
    position: absolute;
    left: 3.75%;
    right: 92.6%;
    top: 25%;
    bottom: 25%;

    background: url(./src/img/icon.png);
}
